Problem 1 :
a = {1,2,3,4}
b = {3,4,5,6}

Output: Find out the common elements from these 2 sets.

In [2]:
a = {1,2,3,4} 
b = {3,4,5,6}

In [3]:
a.intersection(b)

{3, 4}

Problem 2 : l = [1,2,3,4,4,6]

Outout : Remove duplicate numbers

In [4]:
l = [1,2,3,4,4,6]

In [5]:
list(set(l))          # Method 1

[1, 2, 3, 4, 6]

In [6]:
import numpy as np

In [7]:
np.unique(l)          # Method 2

array([1, 2, 3, 4, 6])

In [8]:
list(np.unique(l))

[1, 2, 3, 4, 6]

In [9]:
len(list(np.unique(l)))        # to find lenght of list

5

Problem 3 :
a = {1,2,3,4} 
b = {3,4,5,6}

Output : list of the elements which are not common in both the sets

In [10]:
a = {1,2,3,4} 
b = {3,4,5,6}

In [11]:
a.symmetric_difference(b)

{1, 2, 5, 6}

In [12]:
# To find common elements from two lists
a = [1,2,3,4] 
b = [3,4,5,6]

In [13]:
list(set(a).intersection(set(b)))

[3, 4]

Problem 4 : Find the unique words from sentence

sentence = "this is a test this is only a test"

In [14]:
sentence = "this is a test this is only a test"

In [15]:
list(set(sentence.split()))

['only', 'test', 'a', 'this', 'is']

Problem 5 : Create a list of square of elements that range 1-10

In [16]:
# Method 1

In [17]:
def var_square(x):
    return x**2

In [18]:
result = []
for i in range(1,11):
    temp = var_square(i)
    result.append(temp)

In [19]:
result

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [20]:
# Method 2

In [21]:
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Problem 6 : Add key and value into dicstionary

person = {"name" : "Dhruv", "age" : 21, "city" : "Vadodara"}

In [22]:
person = {"name" : "Dhruv", "age" : 21, "city" : "Vadodara"}

In [23]:
person['name']         # Accessing Dicstionary

'Dhruv'

In [24]:
person["country"] = "Germany"      # Adding (key : value)

In [25]:
person

{'name': 'Dhruv', 'age': 21, 'city': 'Vadodara', 'country': 'Germany'}

In [26]:
person.pop("age")                  # To remove elements from dicstionary

21

In [27]:
person

{'name': 'Dhruv', 'city': 'Vadodara', 'country': 'Germany'}

Problem 7 : Convert Two lists into data dicstionary

a = [1,2,3,4]
b = [3,4,5,6]

In [28]:
a = [1,2,3,4] 
b = [3,4,5,6]

In [29]:
dict(zip(a,b))

{1: 3, 2: 4, 3: 5, 4: 6}

In [32]:
# To convert into DataFrame

import pandas as pd

pd.DataFrame([dict(zip(a,b))])      # we have to pass list (indexes)

   1  2  3  4
0  3  4  5  6

Problem 8 : Multiple for loop

In [33]:
# Method 1
pairs = [(1,2),(2,1),(3,4),(4,3),(1,2)]

In [36]:
pairs = list(set(pairs))                  # Removing Duplicate values

In [35]:
pairs

[(1, 2), (2, 1), (3, 4), (4, 3)]

In [38]:
output= []
for i in range(len(pairs)):
    for j in range(i+1,len(pairs)):
        if(pairs[i][0] == pairs[j][1]) & (pairs[i][1] == pairs[j][0]):
            output.append(pairs[j])
            
list(set(output))

[(2, 1), (4, 3)]

In [39]:
# Method 2
[pairs[i] for i in range(len(pairs)) for j in range(i+1,len(pairs)) if(pairs[i][0] == pairs[j][1]) & (pairs[i][1] == pairs[j][0])]

[(1, 2), (3, 4)]

Problem 9 : 

Input : [1,2 [3,4]]

Output : [1,2,3,4]

In [49]:
# Without Method
x1 = [1,2, [3,4]]

In [50]:
result1 = []

In [51]:
for i in x1:
    if isinstance(i,list):
        result1.extend(i)
    else:
        result1.append(i)

In [53]:
result1

[1, 2, 3, 4]

In [62]:
# with Method
x2 = [1,2, [3,4], {5,6}]

In [63]:
result3 = []

In [64]:
def flatten_func(x2):
    for i in x2:
        if isinstance(i,(list,set)):
            result3.extend(i)
        else:
            result3.append(i)
    return result3

In [65]:
flatten_func(x2)

[1, 2, 3, 4, 5, 6]